* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'ManRope Medium';
  src: url("./assets/Manrope-Medium.ttf");
}

@font-face {
  font-family: 'ManRope Regular';
  src: url("./assets/Manrope-Regular.ttf");
}

@font-face {
  font-family: 'ManRope SemiBold';
  src: url("./assets/Manrope-SemiBold.ttf");
}

@font-face {
  font-family: 'ManRope Bold';
  src: url("./assets/Manrope-Bold.ttf");
}

@font-face {
  font-family: 'ManRope ExtraBold';
  src: url("./assets/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: 'ManRope ExtraLight';
  src: url("./assets/Manrope-ExtraLight.ttf");
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "ManRope Medium", "Exo", sans-serif;
  color: #fff;
  /* background-size: 400% 400%;
	animation: gradientBG 15s ease infinite; */
}

.mainBG {
  background: linear-gradient(116.82deg, rgba(174, 89, 30, 0.9) 0%, rgba(5, 52, 173, 0.55) 100%);
}

h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 16px 0;
  display: inline-block;
}

.btnbuyink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;

  width: 201.19px;
  height: 51px;

  background: #5F8AFA;
  border-radius: 56px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  border-style: none;

  &:hover {
    background: #5F8AFA;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
  }
}

.btnbuyink span {
  font-family: 'ManRope SemiBold';
  background: #5F8AFA;
  color: #fff;

}

.balances {
  font-size: 2rem;
  font-weight: 600;
}

.font-weight-bold {
  font-weight: bold;
}

.btn {
  border: 2px solid #0072CE;
  padding: 8px;
  height: 32px;
  background: white;
  border-radius: 16px;
  margin: 8px 16px 8px 0;
  line-height: 12px;
  cursor: pointer;
  text-decoration: none;
  color: black;

  &:disabled {
    border-color: #ccc !important;
    ;
    background: white !important;
    color: #ccc !important;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: #ccddff;
  }

  &:active {
    color: white;
    background: #0072CE;
  }
}

.btn-success {
  border: 2px solid #00CE33;

  &:hover {
    background: #7e7;
  }
}

.btn-outline-none {
  border: none;
  margin-left: 0.5em;
}

.btn-outline-secondary {
  margin-top: 1.5em;
  border-color: #eee;
}

.padded {
  padding: 16px;
}

.video-container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rect {
  background-color: #F6F8FF;
  border-radius: 25px;

}

.rectDefault {
  background: #D9D9D9;
  border-radius: 5px;
  height: 30px;
  width: 85%;
  margin: 5px;

}

.bigrect {
  width: 60%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.smallrects {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 25px;
  padding-right: 25px;

  &:first-child {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-top: 10px;
  }
}

.header {
  padding: 16px 16px 0px 16px;
  display: flex;
  flex-direction: row-reverse;
}

.container {
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wallet-adapter-button {
  background-color: #383a3f;

  --background: #F6F8FF;
  --backgroudnghover: #f6f8ff38;
  --colorwalletadapter: #1E2235;
  --shadow: #00093d38;
  --z-before: -6;
  outline: none;
  cursor: pointer;
  position: relative;
  border: 0;
  background: none;
  padding: 9px 20px 9px 20px;
  line-height: 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  color: #A463B0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  transition: transform var(--transform-duration, .4s);
  will-change: transform;
  transform-style: preserve-3d;
  transform: perspective(440px) rotateX(calc(var(--rx, 0) * 1deg)) rotateY(calc(var(--ry, 0) * 1deg)) translateZ(0);

  &:hover {
    //mouse pointer
    cursor: pointer;
  }
}

.wallet-adapter-button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  transform: translateZ(calc(var(--z-before) * 1px));
  background: var(--background);
  box-shadow: 0 4px 8px var(--shadow);
}


.nearlogo {
  background-position: center 1em;
  background-repeat: no-repeat;
  background-size: auto 1.5em;
  text-align: center;
  width: 1.7rem;
}

.react-switch {
  vertical-align: middle;
}

.berry {}

.switch-berry {
  font-size: 1.6em;
  text-align: center;
}

.leaderboard {
  max-width: 380px;
  font-size: 0.9em;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active {
      color: #0072CE;
      text-decoration: underline;
    }
  }

  tr {
    height: 1em;
    display: inline-table;
    width: 100%;
    border-bottom: 1px solid #ddd;

    .text-nowrap {
      text-align: right;
    }

    &:hover {
      background: #ddd;
    }
  }

  .selected {
    background: #ddd;
  }
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

@mixin block {
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;
}

.pixel-board {
  @include block;
  border: 1px solid #ddd;

  &.watch-mode {
    transition: 3s;
    position: fixed;
    width: calc(min(100vh, 100vw));
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    margin: 0 !important;
    padding: 0 !important;
  }
}



.hud {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  >p {
    display: block;
    min-width: 100px;
    margin: 8px 0;
  }
}

.float-right {
  position: absolute;
  top: 0;
  right: 0;
}

.float-left {
  position: absolute;
  top: 0;
  left: 0;
}

.color-picker {
  >div {
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
    border: none !important;
    margin-bottom: 16px;
    width: 100%;
    max-width: 800px;
  }
}

.hidden {
  display: none;
}

.circle-picker {
  margin-top: 5px;
}

.irc {
  width: 100%;
  height: 500px;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: 0px 0;
  }

  100% {
    background-position: 0 600px;
  }
}

.c-animated-background {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #333;
  background: linear-gradient(to bottom, #333 0%, #116611 4%, #55ff55 8%, #116611 12%, #333 16%);
}

.call-to-action {
  font-size: 3em;

  .btn {
    margin-right: 0em;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

/********************************
About us
********************************/

.about-us{
  // height: 50vh;
  margin: 10vh 0;
  padding: 5vh 10vw;
  // background-color: white;
  background: linear-gradient(45deg, #A463B0 0%, #4FD1D9 100%);
}

.about-us-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-items: ;
  // padding: 5vh 0;
  .text{
    padding: 0 5vw 0 0;
    text-align: center;
    justify-self: center;
  }

  img{
    width: 20vh;
  }
}

/********************************
Team
********************************/

.team-section {
  // height: 50vh;
  margin: 10vh 5vw;
  // background-color: white;
  background: linear-gradient(116.82deg, #DB5555 0%, #E3935B 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    padding: 5vh 0vw;
  }
}


.cards {
  display: flex;
  /* flex-direction: row;
  justify-items: stretch; */
  justify-content: space-around;
  /* align-items: flex-end; */
  // height: 55vh;
  // padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  // margin: 5vw;
  // margin: 0 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: flex-start;
  flex: 0 0 100%;
  // padding: 20px;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 3px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 15%); */
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card-image {
  align-self: center;
  width: 14vw;
  border-radius: 25px;
}

.card:not(:last-child) {
  margin: 0 10px;
}

// .card:hover {
//   /* color: var(--white); */
//   /* background: var(--red); */
// }

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  /* color: white; */
  /* background: var(--red); */
  /* padding: 6px 12px; */
  /* border-radius: 8px; */
  /* transition: background 0.2s; */
}

.card:hover {
  opacity: 0.8;
  // transform: scale(0.95);
  // /* */ background: var(--darkred); */
}

.cards::-webkit-scrollbar {
  height: 8px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 3px;
}

// .cards::-webkit-scrollbar-thumb {
//   background: var(--darkred);
// }

// .cards::-webkit-scrollbar-track {
//   background: var(--thumb);
// }

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 5) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(calc(100% / 5) - 15px);
  }

  .card:not(:last-child) {
    margin-right: 10px;
  }
}
/********************************
Footer
********************************/
.footer{
  height: 20vh;
  padding: 3vw 5vh;
  background: linear-gradient(116.82deg, rgba(174, 89, 30, 0.9) 0%, rgba(5, 52, 173, 0.55) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.socials{
  display: flex;
  flex-direction: row;
  width: 25vw;
  justify-content: space-around;
}

.footer-image{
  height: 5vh;
}



/********************************
Layout For Tablet / Phone
********************************/

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
    max-width: 600px;

    div {
      padding-left: 0 !important;
    }
  }


}

@media (max-width: 600px) {
  .pixel-board {
    width: 100vw;
    margin-left: -16px;

  }

  h2 {
    text-align: left;
  }
}

@media (max-width: 425px) {
  .float-right {
    position: relative !important;
  }

  .btn-outline-secondary {
    margin-top: 0;
  }

  .call-to-action {
    font-size: 1.6em;
  }
}

.root-modal {}

.free-drawing {
  font-size: 1.5em;
  margin-bottom: 0.5em;

  &.free {
    color: #ffff00;
    background: #000;
  }

  &.wait {
    color: #ffffff;
  }
}